<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr", 'data-turbolinks-true' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">My Awesome Blog</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li><%= link_to "Logged in as #{current_user.name}", current_user %></li>
        <li><%= link_to "Logout", login_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_login_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
